
body{
    margin: 5%;
}

.content{
    display: inline-block;
}
h1{
    display: inline;
    font-family: 'Inconsolata';
    font-size: 200%;
    font-weight: 700;

    letter-spacing: -2px;

    margin-left: 5%;
}

.scarecrow img{
    max-width: 30%;
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
}

.noticiaContent{
    display: block;
    
    margin-top: -10vh;
    margin-left: 40vw;

    width: 40vw;
    
}

.badNews{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 300%;
    letter-spacing: -2px;
}
.conteudo{
    font-family: Space Mono;
    font-weight: 400;
    letter-spacing: -2px;
    font-size: 24px;
}

.homePage{
    margin-left: 50%;
    width: 20%;
    height: 4em;
    background-color: rgb(46, 46, 46);
    color: white;
}

footer p{

    padding-top: 11%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 17px;
    text-align: center;
    color: #a5a5a5;
}

footer a{
    color: #5a5a5d;
}

@media (max-width:700px){

    h1{
        font-family: 'Inconsolata';
        font-size: 200%;
        font-weight: 700;
      
        letter-spacing: -2px;
      
        margin-left: 5%;
    }
    
    .scarecrow{
        display: none;
    }
    .noticiaContent{
        text-align: left;
        display: initial;
        margin-left: 50%;
        width: 50%;
    }

    .badNews{
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 3em;
        letter-spacing: -3px;

        padding-top: 0;
        margin-top: 5vh;
    }

    .conteudo{
        font-family: Space Mono;
        font-weight: 400;
        letter-spacing: -2px;
        font-size: 2em;
    }

    .homePage{
        margin-left: 30vw;
        width: 30%;
        height: 6vh;
        background-color: rgb(46, 46, 46);
        color: white;
    }
}

@media (max-width:300px){

    h1{
        font-family: 'Inconsolata';
        font-size: 200%;
        font-weight: 700;
      
        letter-spacing: -2px;
      
        margin-left: 5%;
    }


    .noticiaContent{
        text-align: left;
        display: initial;
        margin-left: 50%;
        width: 50%;
    }

    .badNews{
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 260%;
        letter-spacing: -3px;
        margin-top: -10%;
    }

    .conteudo{
        font-family: Space Mono;
        font-weight: 400;
        letter-spacing: -2px;
        font-size: 24px;
    }

    .homePage{
        width: 50%;
        height: 4em;
        margin-left: 20%;
        background-color: rgb(46, 46, 46);
        color: white;
    }

    footer p{
        font-size: 0.7em;
        width: 60vw;
    }
    footer a{
        color: #5a5a5d;
    }
    
        footer a ::after{
        color: #5a5a5d
    }
}
